body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    align-items: flex-start;
}

.questions {
    margin-right: 20px;
}

.questions ul {
    list-style: none;
    padding: 0;
}

.questions li {
    margin: 10px 0;
    font-size: 16px;
    position: relative;
}

.questions li.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.questions li .checkmark {
    display: inline-block;
    margin-left: 8px;
    color: green;
    font-size: 16px;
    visibility: hidden; /* Initially hidden */
}

.crossword {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    transition: background-color 0.3s ease;
    user-select: none;
    overflow: hidden;
    font-size: 16px;
    padding: 0;
}

td[contenteditable]:focus {
    outline: none;
    background-color: #f0f8ff;
}

td.filled {
    background-color: #ddd;
    color: #333;
}

td.correct {
    background-color: rgb(109, 178, 252);
}

.number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: #020202;
    pointer-events: none; /* Prevent clicking */
    z-index: 1; /* Ensure numbers are above other content */
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0; /* Ensure content is below the number */
}

.message-box {
    display: none; /* Initially hidden */
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

